.navBar {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  background: #ccffff;
}
.btn {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 12px;
  margin-left: 3000px;
}
.profile {
  margin-top: 10px;
  border: 2px black solid;
  width: 1200px;
  height: 400px;
}

body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
